<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" 
                  arguments=".\PrusaPrinterApiForObs.dll"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="outofprocess" />  <!-- Out-of-process hosting -->
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 6da333ca-ee3a-491a-9376-348e24274575-->
